@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  body {
    @apply bg-black text-white
  }
}

.modal__animation-enter {
  opacity: 0;
}

.modal__animation-enter-active {
  opacity: 1;
  transition: all 200ms ease;
}

.modal__animation-exit {
  opacity: 1;
}

.modal__animation-exit-active {
  opacity: 0;
  transition: all 200ms ease;
}